<html>
 <head>
    <link rel="icon" href="images/favicon-sm.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon-md.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon-lg.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
     
    <body>
        <div style="width: 30%; padding: 4rem">
      <div class="card card--secondary">
        <header class="card__header">Card Title</header>
        <div class="card__body">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum,
          assumenda?
        </div>
      </div>
      <div class="card card--primary">
        <header class="card__header">Card Title</header>
        <div class="card__body">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum,
          assumenda?
        </div>
      </div>
    </div>
     </body>
    </head>   

 </html>