<blockquote class="quote">
  <p class="quote__text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae nesciunt
    sint, recusandae assumenda expedita sunt ab! Commodi animi tempore quos?
  </p>
  <footer>
    <div class="media">
      <div class="media __image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Jone Smith</h3>
        <p class="quote-organization">abc company</p>
      </div>
    </div>
  </footer>
</blockquote>
