<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        section{
            display: grid;
            grid:120px 80px/100px 120px;
        }
        div{
            background: red;
            color: white;
        }
    </style>
</head>
<body>
    <section>
        <div>first</div>
        <div>second</div>
        <div>third</div>
        <div>forth</div>
    </section>
</body>
</html>