.flexbox{
    display: flex;
    background-color: blue;
    flex-wrap: wrap;
}
.flexitem{
    background-color: red;
    border: 1px solid black;
    color: aliceblue;
    font-weight: 800;
    margin: 12px;
    height: 122px;
    width: 122px;
    flex: 1 5rem;
}

.item2{
}
